<%#
 vim: ft=jst syn=jst.dosini
%>
[tox]
envlist =
	py{27,36,37}, pypy, lint
skip_missing_interpreters =
	True

[testenv]
commands =
	python setup.py test
deps =
	.[dev]
recreate =
	True

[testenv:pypy]
commands =
	pypy setup.py test

[testenv:lint]
commands =
	flake8 <%= projectName %>
deps =
	flake8>=3.5.0,<4.0.0
