<%#
 vim: ft=jst.rst
 %>
Contributing
============

Getting Started
---------------

Fork the repository to your own account.

Clone the repository to a suitable location on your local machine.

.. code:: bash

    git clone https://gitlab.com/<%= gitlabName %>/<%= projectName %>.git

**Note:** This will clone the entire contents of the repository at the HEAD revision.

To update the project from within the project's folder you can run the following command:

.. code:: bash
    git pull --rebase

Building
````````

Install the project's dependencies.

.. code:: bash
    pip install -r requirements.txt
    pip install -r requirements-dev.txt

Testing
```````

Install the project's dependencies.

.. code:: bash

    TODO

Next, run the project's tests.

.. code:: bash

    TODO

Feature Requests
----------------

I'm always looking for suggestions to improve this project. If you have a suggestion for improving an existing feature, or would like to suggest a completely new feature, please `file an issue` on my `GitLab repository`_.

.. _`GitLab repository`: https://gitlab.com/<%= gitlabName %>/<%= projectName %>
.. _`file an issue`: https://gitlab.com/<%= gitlabName %>/<%= projectName %>/issues

Bug Reports
-----------

My project isn't always perfect, but I strive to always improve on that work. You may file `bug reports`_ on the `GitLab repository`_.

.. _`GitLab repository`: https://gitlab.com/<%= gitlabName %>/<%= projectName %>
.. _`bug reports`: https://gitlab.com/<%= gitlabName %>/<%= projectName %>/issues

Pull Requests
-------------

Along with my desire to hear your feedback and suggestions, I'm also interested in accepting direct assistance in the form of new code or documentation.

Please feel free to file `merge requests`_ against my `GitLab repository`_.


.. _`GitLab repository`: https://gitlab.com/<%= gitlabName %>/<%= projectName %>
.. _`merge requests`: https://gitlab.com/<%= gitlabName %>/<%= projectName %>/pulls
