<%#
 vim: syn=jst.rst
%>
<%= projectName %>
====================

<% if (ciProvider === 'Travis CI') { %>
|CI|

.. |CI| image:: https://travis-ci.org/<%= gitlabName %>/<%= projectName %>.svg?branch=master
   :target: https://travis-ci.org/<%= gitlabName %>/<%= projectName %>

<% } %>
About this project...

Installation
------------

Installation instructions...

Usage
-----

Usage instructions...

Contributing
------------

Read CONTRIBUTING_.

.. _CONTRIBUTING: CONTRIBUTING.rst
