<%#
 vim: ft=jst syn=jst.cfg
%>
[tool:pytest]
addopts = -rxXs --cov=<%= projectName %>

[flake8]
ignore =
    # F403: unable to detect undefined names with `from x import *`
    F403,
    # F405: undefined or may be defined from `from foo import *` imports
    F405
exclude =
    # No need to go through the VCS directories
    .git,.svn,.bzr,.hg,CVS,.tox,
    # nor cache entries
    *.pyc,__pycache__,.eggs,
    # virtualenv
    venv,.direnv
statistics = True
max-line-length = 120
show-source = True

[coverage:run]
branch = True
# omit =

[coverage:paths]
source =
    <%= projectName %>/

[coverage:report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't compain if non-runnable code is not run:
    if 0:
    if __name__ == .__main__.:

fail_under = 80
precision = 1
skip_covered = True
show_missing = True
