<%#
 vim: ft=jst syn=python
%>
import os
import sys
import codecs
from setuptools import setup, find_packages
from setuptools.command.test import test as TestCommand

from <%= projectName %> import __version__


class PyTest(TestCommand):
    user_options = [('pytest-args=', 'a', 'Arguments to pass to pytest')]

    def initialize_options(self):
        TestCommand.initialize_options(self)
        self.pytest_args = ''

    def run_test(self):
        import shlex
        import pytest
        errno = pytest.main(shlex.split(self.pytest_args))
        sys.exit(errno)


def long_description():
    if not (os.path.isfile('README.rst') and os.access('README.rst', os.R_OK)):
        return ''

    with codecs.open('README.rst', encoding='utf8') as f:
        return f.read()


testing_deps = [
    'flake8',
    'pytest',
    'pytest-cov',
]
dev_helper_deps = [
    'better-exceptions',
]

setup(
    name='<%= projectName %>',
    version=__version__,
    description='<%= projectName %>',
    long_description=long_description(),
    url='<%= homepage %>',
    author='<%= fullName %>',
    author_email='<%= email %>',
    license='MIT',
    classifiers=[
    ],
    keywords='',
    packages=find_packages(exclude=['test', 'test.*', '*.test', '*.test.*']),
    zip_safe=True,
    cmdclass={
        'test': PyTest,
    },
    test_suite='test',
    entry_points={
        'console_scripts': [
            # 'my-command = <%= projectName %>.cli.__main__:main'
        ],
    },
    extras_require={
        'dev': testing_deps + dev_helper_deps,
        ':python_version == "2.6" or python_version == "3.0" or python_version == "3.1" ': ['argparse>=1.2.1'],
    },
    tests_require=testing_deps,
    install_requires=[
        # 'requests',
        # 'sh',
    ],
)
